<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
	<% @articles.each do |a| %>
		<% unless a.archived? %>
			<li>
			  <a> <%= link_to a.title, a %> </a>
			</li>
		<% end %>
	<% end %>
</ul>

<%= link_to "New article", new_article_path %>